@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
  
  .copied .text-gray-400 {
    @apply opacity-0;
  }
  
  .copied .absolute {
    @apply opacity-100;
  }
}

.transform {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
}